@import 'variables';
@import 'bootstrap';
@import 'bourbon';
@import 'dropdowns-enhancement';

body {
  min-width: $container-desktop;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-inverse {
  z-index: 1;
  position: relative;
}

.navbar-default {
  background: #fff;
  border-bottom: none;
  box-shadow: 1px 0 2px #ccc;
}

.navbar-default .navbar-nav > li > a {
  color: #333;
}

.text-primary {
  color: $brand-primary !important;
}

.nav-tabs {
  margin-bottom: 30px;
}

.page-projects-index .panel-body {
  height: 70px;
}

h1 {
  margin: 0 0 10px 0;
  font-size: 32px;
}

h1 span {
  font-size: .5em !important;
  vertical-align: middle !important;
}

ol > li:last-child > hr,
ul > li:last-child > hr {
  visibility: hidden;
}

.dropdown {
  position: relative;
}
.dropdown-menu {
  min-width: 0;
}
.dropdown-menu.pull-center {
  left: -50%;
  right: auto;
}

.label {
  &:empty {
    display: inline;
    // https://github.com/thoughtbot/capybara-webkit/issues/645
  }
}
