<% if target.errors.any? %>
  <div class="<%= flash_class(:error) %>">
    <ul class="list-unstyled">
      <% target.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
